p {
    line-height: 1.75;
}

/* Pagination starts */
.pagination {
    display: flex;
    list-style: none;
    border-radius: .25rem;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
}

.page-link {
    position: relative;
    display: block;
    padding: .75rem 1rem;
    margin-left: -1px;
    line-height: 1.25;
    color: var(--accent);
    background-color: var(--accent);
    border: 1px solid var(--accent);
}

.homepage .page-link,
.listing .page-link {
    background-color: #fff;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: var(--accent);
    border-color: var(--accent);
    pointer-events: none;
}

.page-item.active .page-link:hover {
    background-color: var(--accent);
    border-color: var(--accent);
    color: #fff !important;
}

.pagination > li > a, .pagination > li > span {
    color: #777;
}
/* Pagination ends */
