main {
    max-width: none;
}

section {
    padding: 50px 0;
    color: #105456;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
    text-transform: uppercase;
}

section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Didact Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
}

.project {
    margin: 20px;
}

a:hover{
    text-decoration: none;
}

a:hover .service-heading {
    color: #C8C372;
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
    color: #1E4D2B;
    font-weight: 700;
}

p {
    font-size: 14px;
    line-height: 1.75;
    font-family: "Varela Round", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

