main {
    max-width: none;
}

h4 {
    line-height: 1.5;
}

p {
    font-size: 14px;
    line-height: 1.5;
}

section {
    padding: inherit;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
}

section h3.section-subheading {
    margin-bottom: 60px;
    text-transform: none;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
}

.team-member {
    margin: 20px;
}

img {
    height: 225px;
    width: 225px;
    border: 1px solid var(--accent);
}

