{{ partial "header" . }}

<main>
    <section id="news">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{ .Title }}</h2>
                    <h3 class="section-subheading text-muted">News and important updates</h3>
                </div>
            </div>

            {{ range .Paginator.Pages }}
                {{ partial "list-item-news" . }}
            {{ end }}
        </div>
    </section>

</main>

{{ partial "paginator" . }}
{{ partial "footer" . }}
