main {
    max-width: none;
    text-align: justify;
    overflow-x: hidden;
}

section {
    padding: 25px;
}

.main-heading h1 {
    font-size: 5rem;
}

.main-heading h4 {
    font-size: 1.7rem;
    line-height: 2.4rem;
}

.section-title h3 {
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    font-weight: 700;
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    color: var(--accent);
}

.section-title span {
    border-bottom: 1px solid rgba(0, 0, 0, .44);
    border-color: var(--accent);
    display: inline-block;
    padding-bottom: 20px;
    margin-bottom: -1px;
}

section.about-us {
    line-height: 2.4rem;
    padding: 10px 25px;
}

a:hover {
    opacity: 0.55;
    text-decoration: none;
}

.panel-body h4 {
    color: var(--accent);
    line-height: 2.4rem;
}

@media (max-width: 991px) {
    .panel-body h4 {
        margin-top: 25px;
    }
}

.all-news, .all-publications {
    margin-top: 1.5rem;
}

.title {
    line-height: 2.6rem;
}

.publications .authors {
    line-height: 2.4rem;
}

.announcements {
    margin-top: 2rem;
}

/*.images img {*/
/*    margin-bottom: 4rem;*/
/*    -webkit-transition: all 0.2s ease-in-out;*/
/*    transition: all 0.2s ease-in-out;*/
/*}*/

/*.images img:hover {*/
/*    box-shadow: 5px 10px 18px #888;*/
/*    transform: scale(1.01);*/
/*}*/

.announcements .section-title div {
    margin-top: 2rem;
}

section.announcements {
    line-height: 2.4rem;
}

/*Media queries*/
@media (min-width: 1700px) {
    .left {
        width: 16%;
    }

    .middle {
        padding-left: 2rem;
        width: 55%;
    }

    .right {
        padding-right: 2rem;
    }
}

@media (max-width: 1700px) {
    .left {
        width: 4%;
    }

    .middle {
        padding-left: 2rem;
        width: 68%;
    }

    .right {
        padding-right: 2rem;
    }
}

@media (max-width: 1366px) {
    .left {
        display: none;
    }

    .middle {
        padding-left: 6rem;
        width: 74.333%;
    }

    .right {
        padding-right: 3rem;
    }
}

@media (max-width: 992px) {
    .middle {
        padding: 0 4rem;
        width: 100%;
    }

    .right {
        padding: 0 4rem;
        width: 100%;
    }

    /*section.images {*/
    /*    display: none;*/
    /*}*/
}

@media (max-width: 640px) {
    .middle {
        padding: 0 2rem;
    }

    .right {
        padding: 0 2rem;
    }

    /*section.images {*/
    /*    display: none;*/
    /*}*/
}

