main {
    max-width: none;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

section {
    padding: inherit;
}

section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 30px;
}

section h3.section-subheading {
    margin-bottom: 60px;
    text-transform: none;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
}

.row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.project {
    margin: 20px;
    display: block;
    padding: 4px;
    line-height: 1.428571429;
    background-color: #ffffff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.project .caption {
    padding: 8px;
}

a:hover {
    text-decoration: none;
}

a:hover .project {
    box-shadow: 5px 10px 18px #888;
    transform: scale(1.01);
}

.service-heading {
    margin: 15px 0;
    text-transform: none;
    font-weight: 700;
    line-height: 1.4;
}
